@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

#movieDetail {
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.movie__card {
  position: relative;
  display: block;
  height: 500px;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.4s;
  .info__section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    .movie__header {
      position: relative;
      padding: 25px;
      height: 50%;
      .minutes {
        display: inline-block;
        margin-top: 10px;
        color: #959595;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.13);
      }
      .locandina {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 200px;
        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
      }
    }

    .movie__desc {
      padding: 25px;
      height: 40%;
      .text {
        color: #545454;
        overflow: hidden;
        /* text-overflow: ellipsis; */
        height: 80px;
      }
    }
    .movie__social {
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;

      ul {
        list-style: none;
        padding: 0;
        li {
          display: inline-block;
          color: white;
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          :hover {
            transition: color 0.3s;
            color: rgba(0, 0, 0, 0.8);
          }
          i {
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .blur__back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
  }

  @media screen and (min-width: 768px) {
    .movie__header {
      width: 60%;
    }
    .movie__desc {
      width: 50%;
    }
    .info__section {
      background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }
    .blur__back {
      width: 80%;
      background-position: -100% 10% !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .movie__card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .blur__back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .movie__header {
    width: 100%;
    margin-top: 85px;
  }
  .movie__desc {
    width: 100%;
  }
  .info__section {
    background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
    display: inline-grid;
  }
}
