.movieImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.ant-card-body {
  display: block;
  position: relative;
}

.movieTitle {
  color: #000;
  height: 45px;
  display: -webkit-box;
  opacity: 1;
  overflow: hidden;
  font-size: 18px;
  max-height: 45px;
  visibility: visible;
  font-weight: 500;
  line-height: 22px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.movieTitle span {
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  font-size: 16px;
  min-width: 33px;
  background: #fb4226;
  text-align: center;
  margin-right: 8px;
  border-radius: 4px;
}

.movieDesc {
  color: #757575;
  margin: 16px 0px 16px 0px;
  display: -webkit-box;
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.movieDesc h4 {
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  height: 32px;
}

.ant-carousel .slick-dots li button {
  height: 5px;
  background: rgb(90, 90, 90);
}

.ant-carousel .slick-dots li.slick-active button {
  background: rgb(230, 76, 76);
}
.movieDetail {
  color: #fff;
  width: 100%;
  display: block;
  opacity: 1;
  padding: 10px 8px;
  font-size: 18px;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  text-align: center;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
}

.carousel .slick-slide > div {
  margin: 0 10px;
}

.carousel .ant-carousel .slick-dots-bottom {
  bottom: -12px;
}
