.slider .img .hinhAnh {
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}

.slider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 48, 0.329);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

.slider .overlay button {
  z-index: 0;
  transition: all 0.4s;
}

.slider:hover .overlay {
  z-index: 20;
  transition: all 0.4s;
}

.slider .overlay button:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: all 0.4s;
  border: none;
  color: #f3f3f3;
  z-index: 20;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: 30px;
  color: currentColor;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 20px;
  z-index: 2;
  color: white;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 20px;
  z-index: 2;
  color: white;
}
